<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8"/>
	<link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
	<title>Bem vindo!</title>
	<link rel="stylesheet" type="text/css" href="css/master.css"/>
</head>
<body>
<div id="interface">
	<header id="cabecalho">
	<hgroup>
		<h2>Cadastrar produtos</h2>
	</hgroup>
<a href="menu_admin.html"> <img class="uicon" src="imagens/user.png" alt=""></a>
<nav id="menu">
		<h1>Menu Principal</h1>
<ul>
		<li><a href="index.html">Página Inicial</a></li>
		<li><a href="clientes.html">Clientes</a></li>
		<li><a href="produtos.html">Produtos</a></li>
		<li><a href="info.html">Sobre-nós</a></li>
</ul>
</nav>
</header>
<br> <br>
<div id= "cproduto">
  <form  action="cadastrarLocacao.php" method="POST" enctype="multipart/form-data">
    <fieldset>
      <legend>Digite o cpf do cliente:</legend>
  <br>
  <input type="text" name="lnome" placeholder="Digite o Nome do Instrumento"><br>
ID:
	 <input type="number" name="lid" placeholder="0" min="1"  max="999">
	 <br>
</fieldset>
<br>
  <fieldset>
 <legend>Detalhes da Locação</legend>
  ID do Instrumento:<br>
  <input type="text" name="linstrumentoID" placeholder="Digite o ID do Instrumento"><br>
	Dias de Locacao: <br>
  <input type="number" name="ldia" placeholder="0" min="1"  max="999">
  Preco da Locacao:<br>
    <input type="text" name="lpreco" placeholder="Digite o ID do Instrumento"><br>
  </fieldset> <br>
  <input type="submit" value="Cadastrar">
</form>
</div>
 <footer id="rodape"> <br> Copyright @ RPG Corp 2019</footer>
</div>
</body>
</html>
