<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Consultar Cliente por CPF</title>
    </head>

    <body>
        <form action="../controller/ConsultarClienteCPF.php" method="POST" style="padding: 10px; margin-top: 10px;">
            <div class="form-row">
                <div class="form-group col-md-7">
                    <label for='cnome'>CPF:</label>
                    <input type="text" class="form-control" name='ccpf' placeholder="Digite seu CPF"/>
                </div>
            </div>
            <input type="submit" value="Enviar">
            </div>
        </form>

    </body>
</html>