<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8"/>
	<link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
	<title>Bem vindo!</title>
	<link rel="stylesheet" type="text/css" href="css/master.css"/>
</head>
<body>
<div id="interface">
	<header id="cabecalho">
	<hgroup>
		<h2>Excluir locacao por ID</h2>
	</hgroup>
<a href="menu_admin.html"> <img class="uicon" src="imagens/user.png" alt=""></a>
<nav id="menu">
		<h1>Menu Principal</h1>
<ul>
		<li><a href="index.html">Página Inicial</a></li>
		<li><a href="clientes.html">Clientes</a></li>
		<li><a href="produtos.html">Produtos</a></li>
		<li><a href="info.html">Sobre-nós</a></li>
</ul>
</nav>
</header>
<br> <br>
<form action="excluirLocacao.php" method="POST" style="padding: 10px; margin-top: 10px;">
  Digite o ID da Locacao :
<input type="text" name='lid' placeholder="Digite o ID da Locacao"/>
  <input type="submit" value="Deletar">
</form>
</div>
 <footer id="rodape"> <br> Copyright @ RPG Corp 2019</footer>
</body>
</html>
