<html>	
<head>	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
	<form action="../controller/excluirCliente.php" method="POST">
		<div class="row">
			<div class="form-group col-sm-4">
				<label for="ccpf" class="label label-default">Insira o CPF do cliente que deseja excluir</label>
				<input type="text" name="ccpf" placeholder="Digite o cpf do usuário a ser excluido" class="form-control">	
			</div>	
		</div>
		<div>
			<button type="submit"> Excluir </button>
		</div>
	</form>	
</body>
</html>
