<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8"/>
	<link href="https://fonts.googleapis.com/css?family=Concert+One&display=swap" rel="stylesheet">
	<title>Bem vindo!</title>
	<link rel="stylesheet" type="text/css" href="css/master.css"/>
</head>
<body>
<div id="interface">
	<header id="cabecalho">
	<hgroup>
		<h2>Menu do administrador</h2>
	</hgroup>
<a href="menu_admin.html"> <img class="uicon" src="imagens/user.png" alt=""></a>
<nav id="menu">
		<h1>Menu Principal</h1>
<ul>
		<li><a href="index.html">Página Inicial</a></li>
		<li><a href="clientes.html">Clientes</a></li>
		<li><a href="produtos.html">Produtos</a></li>
		<li><a href="info.html">Sobre-nós</a></li>
</ul>
</nav>
</header>
<br> <br>
<div id="clientes">
<ul>
		<fieldset>
				<legend>Administrar Clienters</legend>
		
				<li><a href="./excluirCliente.html">Excluir Clientes</a></li>
				
		</fieldset>
	<fieldset>
		<legend>Administrar Instrumentos</legend>
		<li><a href="cadastrarInstrumento.html">Cadastrar Instrumentos</a></li>
		<li><a href="alterarInstrumento.html">Alterar Instrumentos</a></li>
		<li><a href="../controller/consultarInstrumento.php">ListarInstrumentos</a></li>
		<li><a href="excluirInstrumento.html">Excluir</a></li>
	</fieldset>
<fieldset>
	<legend>Administrar Locacoes</legend>
	<li><a href="cadastrarLocacao1.html">Locar</a></li>
	<li><a href="alterarLocacao.html">Alterar Locação</a></li>
	<li><a href="excluirLocacao.html">Devolução</a></li>
	<li><a href="../controller/consultarLocacao.php">Listar Locacoes</a></li>
</fieldset>


</ul>
</div>
 <footer id="rodape"> <br> Copyright @ RPG Corp 2019</footer>
</div>
</body>
</html>
